{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}


<div class="container" id="sneaker-data">
    <div class="col-8 m-auto mt-3">
        <h1 class="text-center">Add a new Product</h1>
        <!-- Tabular form -->
        <form action="/add-data" method="POST" class="justify-content-center mt-5">
            <table class="table align-middle">
                <tr>
                    <td>Style</td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control col-8" placeholder="Style" name="style" id="style"
                                required>
                            <button class="btn btn-dark" type="button" id="find-sneaker">Find</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>
                        <input type="text" class="form-control" placeholder="E.g. Nike Air Force 1" name="title"
                            id="title" required>
                    </td>
                </tr>
                <tr>
                    <td>Thumbnail</td>
                    <td>
                        <input type="url" name="thumbnail" id="thumbnail" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>
                        <input type="text" class="form-control" placeholder="E.g. Nike" name="brand" id="brand"
                            required>
                    </td>
                </tr>
                <tr>
                    <td>Colorway</td>
                    <td>
                        <input type="text" class="form-control" placeholder="Colorway" name="colorway" id="colorway"
                            required>
                    </td>
                </tr>
                <tr>
                    <td>Price(USD)</td>
                    <td>
                        <input type="number" class="form-control" placeholder="Price" name="price" id="price" required>
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        <textarea class="form-control" placeholder="Description" name="description"
                            id="description"></textarea>
                    </td>
                </tr>
            </table>
            <div class="text-center">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // search for sneaker
        $("#find-sneaker").click(function () {
            fetch_sneaker();
        });
    });

    function fetch_sneaker() {
        // get style ID
        var styleID = $("#style").val();
        if (styleID == "") {
            alert("Please enter a Style ID");
            return;
        }

        // change find button
        $("#find-sneaker").addClass("disabled");
        $("#find-sneaker").text("Finding...");

        // get sneaker data
        $.ajax({
            url: "/api/sneakers/" + styleID,
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.data == null) {
                    alert("Sneaker not found");
                    return;
                }
                // get sneaker details
                var sneaker = data.data;
                // set sneaker details
                $("#thumbnail").val(sneaker.thumbnail);
                $("#title").val(sneaker.shoeName);
                $("#brand").val(sneaker.brand);
                $("#colorway").val(sneaker.colorway);
                $("#price").val(sneaker.retailPrice);
                $("#description").val(sneaker.description || "No description available");
                $("#style").val(sneaker.styleID);
                // reset find button
                $("#find-sneaker").removeClass("disabled");
                $("#find-sneaker").text("Find");
            },
            error: function (error) {
                // reset find button
                $("#find-sneaker").removeClass("disabled");
                $("#find-sneaker").text("Find");
                console.log(error);
                alert("An error occurred!\nPlease try again later.");
            }
        });
    }
</script>
{% endblock %}